body, html {
    height: 100%;
   display: flex;
   flex-direction: column;
}
.fixblock {
    width: 100px;
    height: 300px;    
    position: fixed;
    bottom: 55%;
    right: 20px;
}

.movie-image {
    height: 200px;
    width: auto;
    display: flex;
    padding: 20px;
    
    
}

.movie-title {
    display: flex;
    flex-direction: column;   
    color: brown;
}

.box {
    display: flex;    
    align-items: flex-start;
    width: 800px;   

}
.box .content {
    flex: 1;
    padding: 30px;
    text-align: left;
    
}

.movie-overview {
    
    color: blueviolet;
}