body, html {
    height: 100%;
   
}
.fixblock {
    width: 100px;
    height: 300px;
    /*border: 1px solid #000;*/
    position: fixed;
    bottom: 55%;
    right: 10px;
}
/*.fixblock {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100px;
    height: 300px;
}*/
.movie-image {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: column;
    
    
}
.movie-item {
    height: 300px;
    width: auto;
    
}
.movie-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movies-list {
    list-style: none;
}
.box {
    display: flex;
    /*justify-content: flex-start;*/
    align-items: flex-start;
    width: 800px;
}
.box .content {
    flex: 1;
    padding: 20px;
    text-align: center;
    
}