@font-face {
    font-family: lakeshore;
    src: url(/styles/fonts/LAKESHOR-webfont.svg);
    src: url(/styles/fonts/LAKESHOR-webfont.woff);
}
:root {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
}
body, html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 0px;
}
.logo {
    font-size: 2em;
    background-color: bisque;
    display: block;
    text-align: center;
    letter-spacing: 10px;
    font-family: lakeshore;
    text-transform: uppercase;
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}
.details-image {
    width: 80vw;
    height: 70vw;
    border-radius: 25%;
}
.details-title {
    display: block;
    
}
.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;

}
.thumbnails-item {
    width: var(--thumbnails-image-width);
    height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px black;
    border-radius: 25%;
    overflow: hidden;
        
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
    
}
.thumbnails-title {
    display: block;
    text-align: center;
    font-size: 70%;
    height: var(--thumbnails-title-height);
    background-color: beige;
}
.thumbnails-anchor {
    text-decoration: none;
}
@media (min-width: 560px) {
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 0%;
        margin-bottom: 2vh;
        max-height: 83vh;
        order: -1;
        justify-content: flex-start;
    }
    .thumbnails-item {
        max-width: calc(var(--thumbnails-image-width)/1.7);
        min-height: calc(var(--thumbnails-image-height)/2 + var(--thumbnails-title-height)/2);
        margin-top: 2vh;
        margin-right: 4vh;
    }
    .thumbnails-image {
        width: cal(var(--thumbnails-image-width)/1.7);
        height: calc(var(--thumbnails-image-height)/2);
        
    }
    .main-class {
        flex-direction: row;
        justify-content: space-around;        
    }
    .details-image {
        width: 45vw;
        height: 38vw;
    }
    .details-container {
        margin-top: 2vh;
        margin-bottom: 2vh;
        justify-content: top;
    }
    @media (min-width: 900px) {        
        .thumbnails-item {
            max-width: calc(var(--thumbnails-image-width)/2.2);
            min-height: calc(var(--thumbnails-image-height)/2.5 + var(--thumbnails-title-height)/2.5);            
            margin-top: 2vh;
            margin-right: 10vh

        }
        .thumbnails-image {
            width: calc(var(--thumbnails-image-width)/2.2);
            height: calc(var(--thumbnails-image-height)/2.5);

        }
    }
}
