.logo {font-size: 1.5em;}
.main-class {}
.details-container {}
.details-image {width: 360px; height: 240px;}
.details-title {display: block;}
.thumbnails-list {list-style: none;}
.thumbnails-item {}
.thumbnails-image {width: 180px; height: auto;}

.thumbnails-title {display: block;}
.thumbnails-anchor {text-decoration: none;}