:root {
  --cell-width: 6vw;
  --cell-height: 6vw;
}
.cell-white {
    width: var(--cell-width);
    height: var(--cell-height);
    background-color: white;
    display: inline-block;
    border: solid 1px;
    float: left;
    
  }
  .cell-black {
    width: var(--cell-width);
    height: var(--cell-height);
    background-color: black;
    display: inline-block;
    border: solid 1px;
    float: left;
  }
  .body, html {
    height: 100%;
  }
  .body {
    display: flex;      
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .html {
    position: relative;
    height: 740px;
  }
  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: calc(var(--cell-height) * 8);
    margin: auto;

  }
  .board-row {
    
    display: flex;
    flex-direction: row;   
    
    
  }
  
  @media(min-width: 560px) {
    :root {
      --cell-width: 4vw;
      --cell-height: 4vw;
    }
    
  } 
  @media(min-width: 900px) {
    :root {
      --cell-width: 4vw;
      --cell-height: 4vw;
    }
    
  } 
